# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and dependencies
node_modules/
.vite/deps/
!.vscode/extensions.json

# Build output
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Specific directories and files to exclude
**/tempobook/dynamic/
**/tempobook/storyboards/

# Keep specific files
!node_modules/.vite
